@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
  --font-base: "Space Mono", monospace;
  --font-heading: "Bebas Neue", sans-serif;

  --color-bg: #f6f1ea;
  --color-bg-secondary: #e2dacf;
  --color-grid-line: #dfcbbb;
  --color-text: #423024;
  --color-primary: #0d6efd;
  --color-secondary: #39aca3;
  --color-highlight: #eebd2b;
  --color-card-bg: #faf8f5;
  --color-card-shadow: #c1b8ac;
  --color-badge-start: #cf5417;
  --color-badge-end: #eebd2b;

  --border-radius: 0.375rem;
}

body {
  font-family: var(--font-base);
  background-color: var(--color-bg);
  color: var(--color-text);
}

main.container {
  min-height: 80vh;
}

.color-bg-secondary {
  background-color: var(--color-card-bg);
}

.retro-logo {
  font-family: var(--font-heading);
  font-size: 2.25rem;
  letter-spacing: 0.05em;
}

.nav-item {
  font-weight: 700;
  letter-spacing: 0.05em;
}

.nav-item a {
  color: #000;
  transition: all 0.2s ease-in-out;
}

.nav-item a:hover {
  color: var(--color-badge-start);
}

.cart-btn:hover {
  box-shadow: 3px 3px 0 var(--color-card-shadow);
}

#add-to-cart-btn {
  transition: all 0.2s ease-in-out;
}

#add-to-cart-btn:hover {
  box-shadow: 6px 6px 0 var(--color-card-shadow);
  transform: translateY(-2px);
}

.hero {
  min-height: 75vh;
  background-color: var(--color-bg-secondary);
  background-image: linear-gradient(var(--color-grid-line) 1px, transparent 1px),
    linear-gradient(90deg, var(--color-grid-line) 1px, transparent 1px);
  background-size: 40px 40px;
}

.badge {
  background: linear-gradient(
    135deg,
    var(--color-badge-start),
    var(--color-badge-end)
  );
  font-weight: 700;
  border-radius: 0.2rem;
}

.title {
  font-family: var(--font-heading);
  font-size: 4.5rem;
  letter-spacing: 0.08em;
}

.text-outline {
  text-shadow: 4px 4px 0 var(--color-badge-end);
}

.lead {
  max-width: 50%;
  margin: auto;
}

.text-highlighted {
  font-weight: 600;
  color: var(--color-secondary);
}

.retro-btn {
  font-family: var(--font-heading);
  text-transform: uppercase;
  padding: 16px 24px;
  font-size: 1.25rem;
  letter-spacing: 0.08em;
  background-color: var(--color-primary);
  color: #fff;
  box-shadow: 4px 4px 0 var(--color-card-shadow);
  border: none;
}

.retro-btn-outline {
  font-family: var(--font-heading);
  text-transform: uppercase;
  padding: 16px 24px;
  font-size: 1.25rem;
  letter-spacing: 0.08em;
  border: 3px solid var(--color-secondary);
  color: var(--color-secondary);
}

.section-title {
  font-family: var(--font-heading);
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.retro-card {
  border-radius: var(--border-radius);
  background-color: var(--color-card-bg);
  transition: 0.2s ease-in-out;
  box-shadow: 6px 6px 0 var(--color-card-shadow);
}

.retro-card:hover {
  transform: translateY(-4px);
}

.retro-card img {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  object-fit: cover;
  height: 250px;
  overflow: hidden;
}

.card-body {
  font-size: 0.9rem;
  color: #7a6352;
  padding: 24px;
}

.card-title {
  font-family: var(--font-heading);
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 24px;
}

.card-text {
  min-height: 85px;
}

.text-accent {
  color: var(--color-secondary);
  font-family: var(--font-heading);
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
  transition: color 0.2s ease-in-out;
}

.text-accent:hover {
  color: #1da986ad;
}

.text-muted {
  font-size: 12px;
}

.retro-footer-outline {
  font-family: var(--font-heading);
  text-transform: uppercase;
  padding: 8px 24px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.1em;
  border: 3px solid var(--color-secondary);
  color: var(--color-secondary);
}

img.img-fluid {
  height: 550px;
  width: 100%;
  object-fit: cover;
}
